@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
$background-color: hsl(185, 41%, 84%);

*{
  font-family: 'Space Mono', monospace;
}

*,*:focus,*:hover{
  outline:none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
